@layer custom {
    body {    
        display: grid;
        grid-template-rows: 2;
        justify-items: center;
        background-color: var(--bg-default);
        padding: 1rem;
        gap: 1rem;

        &>* {
            width: clamp(0px, 100%, 1200px);
        }

        header {
            padding-block: 0.5rem;
            padding-inline: 1rem;

            div {
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }

        main {
            display:grid;
            gap:1rem;
            .controll {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                align-items: center;
                justify-content: center;
                margin-bottom: 1rem;
                div, label{
                    display: flex;
                    width: min-content;
                }

                &:has([data-edit="true"]){
                    *:not([data-edit="true"]){
                        pointer-events: none;
                        --bg-input:gray;
                    }
                }
                div{gap:0.5rem}

                .button {
                    height: var(--input-height);
                }

                .stack {
                    &[data-active="play"] {
                        .playstart {
                            display: none;
                        }
                    }

                    &[data-active="pause"] {
                        .playpause {
                            display: none;
                        }
                    }
                }

                .playVolume {
                    &[data-active="mute"] {
                        span::before {
                            content: "volume_off";
                        }
                    }

                    &[data-active="unmute"] {
                        span::before {
                            content: "volume_up";
                        }
                    }
                }
            }
            .notes{
                height: max-content;
                &[data-playing="true"]{ 
                    overflow-x:auto;
                    scrollbar-width: none;
                }
                g.playing {
                    fill: green;
                    filter:drop-shadow(0 0 5px var(--clr-primary-600));
                    box-shadow: 0px 0px 0 red!important;
                };
                g.note { fill: var(--note-color, var(--text-clr)); }

                g.notehead{
                    use {
                        color:transparent;
                        stroke-width: 340px; 
                    }
                }
            }
            #legend{
                list-style:none;
                li{
                    display:flex;
                    gap:1rem;
                    span:first-child{
                        height: 1rem;
                        width: 1rem;
                    }
                    [data-color="green"]{background-color: green;}
                    [data-color="yellow"]{background-color: yellow;}
                    [data-color="red"]{background-color: red;}
                }
            }
        }
    }

    dialog{
        detail{
            summary{background-color: var(bg-input);}
        }
    }
}