@layer custom {
    body {    
        display: grid;
        grid-template-rows: 2;
        justify-items: center;
        background-color: var(--bg-default);
        padding: 1rem;
        gap: 1rem;

        &>* {
            width: clamp(0px, 100%, 1200px);
        }

        header {
            padding-block: 0.5rem;
            padding-inline: 1rem;

            div {
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }

        main {
            display:grid;
            gap:1rem;

            &[data-state="review"]{
                .controll{display: none;}
                .review{display: grid;}
            }
            .review{
                display: none;
                grid-template-columns: 1fr auto;
                h1{justify-self:center;display:flex; align-items:center;  gap:0.5rem; font-size:var(--fs-700)}
                
                
            }
            .controll {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                align-items: center;
                justify-content: center;
                margin-bottom: 1rem;
                div, label{
                    display: flex;
                    width: min-content;
                }
                
                #playstack{
                    & > *{display:none}
                    &[data-active="play"] .playstart{display:flex}
                    &[data-active="pause"] .playpause{display:flex}
                    &[data-active="3"] .play3 {display:flex}
                    &[data-active="2"] .play2 {display:flex}
                    &[data-active="1"] .play1 {display:flex}
                }

                &:has([data-state="edit"]){
                    *:not([data-state="edit"]){
                        pointer-events: none;
                        --bg-input:gray;
                    }
                }
                div{gap:0.5rem}

                .button {
                    height: var(--input-height);
                }


                .playVolume {
                    &[data-active="mute"] {
                        span::before {
                            content: "volume_off";
                        }
                    }

                    &[data-active="unmute"] {
                        span::before {
                            content: "volume_up";
                        }
                    }
                }
            }
            .notes{
                height: max-content;
                rect.bg_note{fill:transparent; stroke:none!important;}
                &[data-playing="true"]{ 
                    overflow-x:auto;
                    scrollbar-width: none;
                }
                g.playing {
                    rect.bg_note{fill:var(--clr-info-500);}
                };
                g.playing[wait] {
                    rect.bg_note{fill:var(--clr-warning-500);}
                };
                
                g.note { fill: var(--note-color, var(--text-clr)); }
                
                g.notehead{
                    use {
                        color:transparent;
                        stroke-width: 340px; 
                    }
                }
            }
            
            #legend{
                list-style:none;
                li{
                    display:flex;
                    gap:1rem;
                    span:first-child{
                        height: 1rem;
                        width: 1rem;
                    }
                    [data-color="green"]{background-color: green;}
                    [data-color="yellow"]{background-color: yellow;}
                    [data-color="red"]{background-color: red;}
                }
            }
        }
        

        #noteDetailInfo{
            width:fit-content;
            display: grid;
            gap: 1rem;
            justify-content:center;
            header{
                display: flex;
                justify-content:space-between;
                padding:0em;
            }
        }
    }
    .noteDiagram{
        border-radius: var(--br-default);
        --noteDiagram_line: black;
        --noteDiagram_red:var(--clr-danger-400);
        --noteDiagram_yellow: var(--clr-warning-500);
        --noteDiagram_green: var(--clr-success-300);
    }
    dialog{
        detail{
            summary{background-color: var(bg-input);}
        }
    }
}