@layer custom {
    @keyframes pulseBG {
      0%, 100% { opacity: 1;}
      50% { opacity: 0.7; }
    }
    body {
        &:after{
          content: none;
          display: none;
        }

        &[data-loading] {
            overflow: hidden;
        
            &:after {
              content: "";
              position: fixed;
              display: block; 
              inset: 0;
              background-color: hsl(from var(--clr-neutral-200) h s l / 0.8);
              z-index: 100000;
              
              /* Pulsieren-Animation */
              animation: pulseBG 1s infinite ease-in-out;
              backdrop-filter: blur(1px); /* Schicker Milchglas-Effekt */
            }
        }
        
        display: grid;
        grid-template-rows: 2;
        justify-items: center;
        background-color: var(--bg-default);
        padding: 1rem;
        gap: 1rem;

        &>* {
            width: clamp(0px, 100%, 1200px);
        }

        header {
            padding-block: 0.5rem;
            padding-inline: 1rem;

            div {
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }

        main {
            display:grid;
            gap:1rem;
            .controll {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                align-items: center;
                justify-content: center;
                margin-bottom: 1rem;
                div, label{
                    display: flex;
                    width: min-content;
                }

                &:has([data-edit="true"]){
                    *:not([data-edit="true"]){
                        pointer-events: none;
                        --bg-input:gray;
                    }
                }
                div{gap:0.5rem}

                .button {
                    height: var(--input-height);
                }

                .stack {
                    &[data-active="play"] {
                        .playstart {
                            display: none;
                        }
                    }

                    &[data-active="pause"] {
                        .playpause {
                            display: none;
                        }
                    }
                }

                .playVolume {
                    &[data-active="mute"] {
                        span::before {
                            content: "volume_off";
                        }
                    }

                    &[data-active="unmute"] {
                        span::before {
                            content: "volume_up";
                        }
                    }
                }
            }
            .notes{
                height: max-content;
                &[data-playing="true"]{ 
                    overflow-x:auto;
                    scrollbar-width: none;
                }
                g.playing {
                    fill: blue!important;
                };
                g.note.green {fill:green;}
                g.note.yellow {fill:yellow;}
                g.note.red {fill:red;}
                g.notehead{
                    use {
                        color:transparent;
                        stroke-width: 340px; 
                    }
                }
            }
        }
    }

    dialog{
        detail{
            summary{background-color: var(bg-input);}
        }
    }
}