@layer custum {
    body {
        display: grid;
        grid-template-rows: 2;
        justify-items: center;
        background-color: var(--bg-default);
        padding: 1rem;
        gap: 1rem;

        &>* {
            width: clamp(0px, 100%, 1000px);
        }

        .sheets {
            display: grid;
            gap: 1rem;

            .file {
                display: grid;
                grid-template-columns: 1fr 8rem auto;
                gap: 1rem;
                align-items: center;

                div {
                    display: grid;
                    grid-template-columns: 1fr max-content;
                    gap: 0.5rem;

                    progress {
                        width: 100%;
                        background-color: red;
                    }

                    span {
                        width: 100%;
                        display: inline-block;
                    }
                }

                a .file-active {
                    display: grid;
                    grid-template-columns: auto 1fr;
                    gap: 0.5rem;
                    row-gap: 0.25rem;
                    p{
                        justify-self:left;
                        font-size: var(--fs-200);
                        grid-column: 1/-1;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 700px) {
        body {
            .sheets {
                .file {
                    background-color: var(--clr-neutral-100);
                    border-radius: 1rem;
                    padding: 0.75rem;
                    grid-template-columns: 1fr auto;
                    grid-template-rows: auto auto;
                    column-gap: 1rem;
                    row-gap: 0.5rem;

                    div {
                        grid-row: 2;
                    }

                    .file-delete {
                        width: min-content;
                        justify-self: center;
                        grid-column: 2;
                        grid-row: 1/-1;
                    }
                }
            }
        }
    }
}